<div class="container">
  <mat-card>
    <mat-card-title>List For Donation</mat-card-title>
    <div>
      <form [formGroup]="donateForm" (ngSubmit)="onSubmit()">

        <mat-form-field>
          <mat-label for="title">Title</mat-label>
          <input matInput id="title" required type="text" name="title" formControlName="title">
        </mat-form-field>
        <br>

        <mat-form-field>
          <mat-label for="description">Description</mat-label>
          <input matInput id="description" required type="text" formControlName="description">
        </mat-form-field>
        <br>

        <button mat-raised-button color="primary" type="submit">List For Donation!</button>
      </form>
    </div>
  </mat-card>
</div>
